
/*
etiqueta{
	propiedad: valor;
}

*/


body { 
   font-family: 'Indie Flower', cursive;
   font-size: 40px;
   text-align: center;
   line-height: 90px;
}

body{
	background-color: #CEECF5;
}

header{
	background-color: #AC58FA;
	text-align: center;
}

header h1{
	color: #B40404;
	font-size: 100px;
}

header nav ul{
	padding: 0px;
	margin: 0px;
	text-align: center;
	list-style: none;
}

header nav ul li{
	height: 35px;
	margin-top: 5px;
	width: 100%;
	display: inline-block;
}

header nav ul li a{
	text-decoration: none;
	font-weight: bold;
	color: blue;
	padding: 15px 25px;
}
